@model UNA_SALUD.Models.PesoModelo

@{
    ViewBag.Title = "Paciente";
}

@section  Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/Chart.js")"></script>
    <script src="@Url.Content("~/Scripts/PesosPacienteScript.js")"></script>
}


<h5><strong>Paciente:</strong> @ViewBag.Paciente.NombreCompleto </h5>
<h5><strong>Email:</strong> <span class="text-muted" id="pacientePeso">@ViewBag.Paciente.Email</span></h5>
<h5><strong>Peso Actual:</strong><span class="text-muted" id="pesoActual"></span></h5>
<hr />
<div class="pull-right icon-wrapper" id="tipoVista" onclick="toggleVisibility();" data-tooltip="Vista de gráfico"> <i class="fa fa-line-chart"   id="iconView"></i></div>

<p>
   <button type="button" class="btn btn-default"  onclick="AbrilModalAgregarPeso();">Agregar Peso</button>
</p>



<div class="row">
    <div id="chart-container" class="col-md-12">
        <canvas id="chartPeso"></canvas>
    </div>

    <div class="hidden col-md-12" id="table-container">
        <table class="table table-bordered table-hover" id="listarPesos">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Peso1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Detalle)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<div id="modalAgregarPeso" class="modal fadeInUp niceModal" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "formAgregarPeso" }))
        {
            @Html.Hidden("Codigo")
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="modal-content">
                <div class="modal-header">
                    <i class="niceModal-header-icon fa fa-plus"></i>
                    <h2 class="niceModal-header-title">Agregar Peso</h2>
                    <p class="niceModal-header-subtitle">Digite la informacion del peso que desea agregar</p>
                    <a href="javascript:void(0)" class="niceModal-button niceModal-button-close" data-dismiss="modal"></a>
                </div>
                <div class="modal-body niceModal-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Paciente)
                                @Html.EditorFor(model => model.Paciente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Paciente, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Peso1)
                                @Html.EditorFor(m => m.Peso1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Peso1, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Fecha)
                                @Html.EditorFor(m => m.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Detalle)
                                @Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="footer">
                        <button type="button" onclick="guardarPeso()" class="btn-info"><i class="fa fa-plus"></i> Guardar</button>
                        <button type="button" class="btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




<!-- Modal -->
<div id="modalEditarPeso" class="modal niceModal fadeInUp" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->


        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "formEditarPeso" }))
        {
            @Html.Hidden("CodigoTR")
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="modal-content">
                <div class="modal-header">
                    <i class="niceModal-header-icon fa fa-edit"></i>
                    <h2 class="niceModal-header-title">Editar Peso</h2>
                    <p class="niceModal-header-subtitle">Digite la informacion del peso que desea editar</p>
                    <a href="javascript:void(0)" class="niceModal-button niceModal-button-close" data-dismiss="modal"></a>
                </div>
                <div class="modal-body niceModal-content">
                    <div class="input-group col-md-12">
                        <span class="input-group-addon" id="basic-addon1">
                            @Html.LabelFor(model => model.Paciente)
                        </span>
                        @Html.EditorFor(model => model.Paciente, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Paciente, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="input-group date" data-provide="datepicker">
                        <span class="input-group-addon" id="basic-addon1">
                            @Html.LabelFor(model => model.Fecha)
                        </span>
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            @Html.LabelFor(model => model.Peso1)
                        </span>
                        @Html.EditorFor(model => model.Peso1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Peso1, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            @Html.LabelFor(model => model.Detalle)
                        </span>
                        @Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="input-group col-md-12" style="display: none;">
                        <span class="input-group-addon" id="basic-addon1">
                            @Html.LabelFor(model => model.Codigo)
                        </span>
                        @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="footer-3">
                        <button type="button" onclick="guardarEditarPeso();" class="btn-info"><i class="fa fa-plus"></i> Guardar</button>
                        <button type="button" class="btn-warning" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn-danger" onclick="eliminarPesoFromModal();"><i class="fa fa-trash"></i> Eliminar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

